.background {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/meter.png);
    background-repeat: no-repeat;
    position: relative;
}

.arrow {
    position: absolute;
    background-image: url(./assets/dial.png);
    width: 55px;
    height: 177px;
    background-repeat: no-repeat;
    top: 126px;
    left: 193px;
    transform-origin: 50% 83.61%;
}
