.background {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/meter.png);
    background-repeat: no-repeat;
    position: relative;
}

.arrow {
    position: absolute;
    background-image: url(./assets/dial.png);
    width: 55px;
    height: 200px;
    background-repeat: no-repeat;
    top: 95px;
    left: 193px;
}
